body {
  overflow-x:hidden
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Globales */
.container {
  width: 90%;
  margin: 0 auto;
  padding: 0;
}
/* Navbar */
.navBar {
  align-items: center;
}
.itemNavBar {
  text-decoration: none;
  color: #ffff;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2.2px;
}
.itemNavBar:hover {
  color: #ac2828;
}
.itemLogo {
  color: #ac2828;
}
/* Container List Cart */
.containerListCart {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
}
@media screen and (max-width: 800px) {
  .containerListCart {
    display: block;
  }
}

/* Item */
.containerCart {
  border: 1px solid #ac2828;
  border-radius: 20px;
  box-shadow: 0px 0px 7px 0px rgb(105, 105, 105);
  width: 280px;
  height: 300px;
  margin: 0 auto;
  padding: 0px;
}
.top-item {
  background-color: #000;
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  padding: .5rem;
}
.titleArticleCart {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 0;
  color: #ac2828;
}
.imagesCart {
  width: 70px;
  height: 70px;
}
.number-stock {
  color: #ac2828;
}

/* Button */
.counter {
  position: absolute;
  height: 40px;
  width: 130px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 4px 8px 12px 0 rgba(0, 0, 0, 0.1);
}
.counter .minus {
  position: absolute;
  z-index: 10;
  width: 32px;
  height: 32px;
  top: 4px;
  left: 5px;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
.counter .minus .line {
  position: absolute;
  height: 2px;
  width: 18px;
  left: 7px;
  top: 15px;
  background: #e26e6e;
  transition: all 0.3s ease-in-out;
}
.counter .minus:hover {
  background: #e26e6e;
}
.counter .minus:hover .line {
  background: #fff;
}
.counter .plus {
  position: absolute;
  z-index: 10;
  width: 32px;
  height: 32px;
  top: 4px;
  right: 5px;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
.counter .plus .line-h {
  position: absolute;
  height: 2px;
  width: 18px;
  left: 7px;
  top: 15px;
  background: #8ed273;
  transition: all 0.3s ease-in-out;
}
.counter .plus .line-v {
  position: absolute;
  height: 18px;
  width: 2px;
  left: 15px;
  top: 7px;
  background: #8ed273;
  transition: all 0.3s ease-in-out;
}
.counter .plus:hover {
  background: #8ed273;
}
.counter .plus:hover .line-h,
.counter .plus:hover .line-v {
  background: #fff;
}
.counter .number {
  position: relative;
  width: 130px;
  height: 40px;
  font-weight: 600;
  font-size: 20px;
  color: #6a85a0;
  line-height: 40px;
  text-align: center;
}
.counter .number span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-origin: 50% 50%;
}
.counter .number span.fadeInUp {
  -webkit-animation: fadeIn 0.3s ease-out 0.15s backwards;
  animation: fadeIn 0.3s ease-out 0.15s backwards;
  transform: scale(1);
  opacity: 1;
}
.counter .number span.fadeOutUp {
  -webkit-animation: fadeOut 0.3s ease-in;
  animation: fadeOut 0.3s ease-in;
  transform: scale(1.4);
  opacity: 0;
}
.counter .number span.fadeInDown {
  animation: fadeOut 0.3s ease-out 0.15s reverse backwards;
  transform: scale(1);
  opacity: 1;
}
.counter .number span.fadeOutDown {
  animation: fadeIn 0.3s ease-in reverse;
  transform: scale(0.6);
  opacity: 0;
}
